@use '@constants/global.scss' as global;

.favorites_artworks {
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  gap: 15px;
  min-height: 300px;
}

.message {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: global.$fontSizeSubheading;
  text-align: center;
}

@media (max-width: 800px) {
  .favorites_artworks {
    grid-template-columns: repeat(1, 1fr);
  }
}