.favourite_btn {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  border-radius: 35px;
  flex-shrink: 0;
  &.in_favorites {
    background-color: rgba(255, 195, 135, 0.3);
  }
}

@media (hover:hover) {
  .favourite_btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}