@use '@constants/global.scss' as global;

.detailed_page {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  max-width: 1300px;
  padding: 120px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.back_btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;
  background-color: global.$notActiveBackgroundColor;
  border-radius: global.$thirdBorderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  border: global.$fourthBorder;
  box-shadow: global.$primaryBoxShadow;
}

.img_wrapper {
  position: relative;
  flex: 1;

  .artwork_img {
    width: 100%;
  }

  .favourite_btn_wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  .tittle {
    font-size: 32px;
  }
  
  .author_short {
    margin-top: 16px;
    color: global.$secondaryColor;
    font-size: 24px;
  }
  
  .date {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .overview_tittle {
    font-size: 32px;
    font-weight: 400;
  }

  .overview_item {
    color: global.$secondaryColor;
    font-size: 16px;
  }

  .overview_item_value {
    color: global.$primaryColor;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 80px 20px;
    flex-direction: column;
    gap: 30px;
  }
}