@use '@constants/global.scss' as global;

.select_wrapper {
  margin: 0 auto;
  max-width: 200px;
}

.select {
  margin-top: 25px;
  width: 100%;
  padding: global.$thirdPadding;
  border: global.$secondaryBorder;
  border-radius: global.$primaryBorderRadius;
  background-color: white;
  font-size: global.$fontSizeBase;
  cursor: pointer;
  outline: none;
}

@media(hover:hover) {
  .select:hover {
    box-shadow: global.$secondaryBoxShadow;
  }
}