@use '@constants/global.scss' as global;

.artwork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artwork_img {
  display: block;
  width: 100%;
  height: auto;
}

.info {
  background-color: global.$secondaryBackgroundColor;
  border: global.$primaryBorder;
  padding: global.$primaryPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.details {
  flex-grow: 1;
}

.tittle {
  color: global.$primaryColor;
  font-size: global.$fontSizeCaptionSmall;
  font-weight: 500;
}

.author {
  color: global.$secondaryColor;
}

@media (max-width: 950px) {
  .artwork:last-child {
    justify-self: center;
    grid-column: 1 / 3;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .artwork:last-child {
    grid-column: auto;
    width: auto;
  }
}

@media (hover:hover) {
  .artwork:hover {
    box-shadow: global.$primaryBoxShadow;
  }
}