@use '@constants/global.scss' as global;

.footer {
  background-color: global.$secondaryBackgroundColor;
}

.wrapper {
  max-width: 1300px;
  padding: global.$primaryPadding;
  margin: 0 auto;
  min-height: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.img_wrapper {
  flex-shrink: 1;

  .museum_logo {
    width: 100%;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author {
  font-size: 2rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 550px) {
  .wrapper {
    flex-direction: column;
  }
}