@use '@constants/global.scss' as global;

.pagination {
  margin-top: 24px;
  display: flex;
  justify-content: end;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self:last baseline;
}

.pagination_item {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 4px;
}

.active {
  background: #F17900;
  color: global.$lightColor;
  cursor: auto;
}

@media (max-width: 950px) {
  .pagination {
    justify-content: center;
  }
}

@media(hover:hover) {
  .pagination_item:hover {
    box-shadow: 0 0 5px global.$secondaryColor;
  }
  .active:hover {
    box-shadow: none;
  }
}